<%for(var i=0; i<page.githubData.length; i++) {
	var data = page.githubData[i];%>
		<!--分类标题-->
        <h3><%=data.category%></h3>
	  	<%for(var j=0; j<data.projects.length; j++) {
			var project = data.projects[j];%>
			<!--仓库按钮-->
			<a href="//github.com/<%=project.user%>/<%=project.repo%>" role="button" target="_blank"><%=project.repo%></a>
			<!--描述-->
			<h5><%=project.description%></h5>
			<!--ghbtns-->
			<iframe data-layzr="https://ghbtns.com/github-btn.html?user=<%=project.user%>&repo=<%=project.repo%>&type=star&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
			<!--效果图-->
            <% if (project.images != null) {%>
			  	<% for(var k=0; k<project.images.length; k++) { 
					var image = project.images[k];%>
					<img src="<%=image%>"/>
				<% } %>
            <% } %>
		<% } %>
<% } %>